@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    flex-grow: 1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.App {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}